name: taminations
description: Taminations in Flutter

# Not a shared flutter library
publish_to: 'none'

# Also change version in msix_config (below) to match
version: 1.6.70+234

environment:
  sdk: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  auto_size_text: ^3.0.0-nullsafety
  bezier: any
  flutter_markdown: ^0.6.2
  google_fonts: ^5.1.0
  just_audio: ^0.9.11
  markdown: ^7.0.1
  provider: ^6.0.0
  scidart: ^0.0.2-dev.11
  scrollable_positioned_list: ^0.3.0
  shared_preferences: ^2.0.0
  speech_to_text: ^6.2.0
  tuple: ^2.0.0
  url_launcher: ^6.1.5
  xml: ^6.1.0

dev_dependencies:
  pedantic: ^1.9.0
#  effective_dart: ^1.3.0
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: any
  msix: ^3.4.0


# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  assets:
    - google_fonts/
    - assets/b1/
    - assets/b2/
    - assets/ms/
    - assets/plus/
    - assets/a1/
    - assets/a2/
    - assets/c1/
    - assets/c2/
    - assets/c3a/
    - assets/c3b/
    - assets/info/
    - assets/src/

#  This is for building a Windows release:
#  dart run msix:create
#  Then to make a bundle, from the windows directory:
#  makeappx.exe bundle  /f mapping.txt /p taminations.msixbundle /bv 1.6.70.0
msix_config:
  display_name: Taminations
  publisher_display_name: Brad Christie
  identity_name: 59302Taminations.Taminations
  publisher: CN=12C8C935-0778-4FF8-82CB-A8FD3E6D2DBC
  logo_path: web\icons\Icon-512.png
  store: true
  #  capabilities: microphone
