
body > * {
  margin-left: 10px;
}

p {
  margin: 10px;
}

/*  H1 is used for the title for each call  */
h1 {
  font: bold x-large Helvetica, Arial, Sans Serif;
  text-transform: uppercase;
  color: red;
  text-shadow: 2px 2px #e0e0e0;
  text-indent: -10px;
}
h1 * { text-shadow: none }

/*  H2 is used for the title of call variations  */
h2, h2 > a {
  font: bold large Helvetica, Arial, Sans Serif;
  color: red;
  text-indent: -10px;
}

/*  H3 for section titles  */
h3 {
    font-family: Helvetica, Arial, Sans Serif;
    font-weight: bold;
    color: blue;
    display: block;
    text-indent: -10px;
  }


/*  H4 is used for command examples  */
h4 {
     font-style: italic;
     margin: 0 0 0 30px;
     text-indent: -20px;
   }

/*  H6 is for the footer coypright  */
h6 {
     color: maroon;
     font-style: italic;
     font-size: 10px;
     margin: 10px;
   }
